--
-- PostgreSQL database dump
--

\restrict RW3HYRDOeEzOywXkM9pnLsYaCeFMBbepw1wmelGebcCUHkkOPV9xAeyAPv4RzkE

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: evaluations_answer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluations_answer (
    id bigint NOT NULL,
    rating_value integer,
    text_value text,
    created_at timestamp with time zone NOT NULL,
    question_id bigint NOT NULL,
    survey_id bigint NOT NULL
);


ALTER TABLE public.evaluations_answer OWNER TO postgres;

--
-- Name: evaluations_answer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.evaluations_answer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.evaluations_answer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: evaluations_department; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluations_department (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    code character varying(50) NOT NULL,
    description text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    school_id bigint NOT NULL
);


ALTER TABLE public.evaluations_department OWNER TO postgres;

--
-- Name: evaluations_department_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.evaluations_department ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.evaluations_department_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: evaluations_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluations_group (
    id bigint NOT NULL,
    group_name character varying(100) NOT NULL,
    total_students integer NOT NULL,
    participated_students integer NOT NULL,
    department_id bigint NOT NULL,
    semester integer NOT NULL
);


ALTER TABLE public.evaluations_group OWNER TO postgres;

--
-- Name: evaluations_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.evaluations_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.evaluations_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: evaluations_groupprofessor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluations_groupprofessor (
    id bigint NOT NULL,
    group_id bigint NOT NULL,
    professor_id bigint NOT NULL
);


ALTER TABLE public.evaluations_groupprofessor OWNER TO postgres;

--
-- Name: evaluations_groupprofessor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.evaluations_groupprofessor ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.evaluations_groupprofessor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: evaluations_internshipanswer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluations_internshipanswer (
    id bigint NOT NULL,
    rating_value integer,
    text_value text,
    created_at timestamp with time zone NOT NULL,
    internship_survey_id bigint NOT NULL,
    question_id bigint NOT NULL
);


ALTER TABLE public.evaluations_internshipanswer OWNER TO postgres;

--
-- Name: evaluations_internshipanswer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.evaluations_internshipanswer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.evaluations_internshipanswer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: evaluations_internshipquestion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluations_internshipquestion (
    id bigint NOT NULL,
    text_en text NOT NULL,
    text_uz text NOT NULL,
    text_ru text NOT NULL,
    question_type character varying(10) NOT NULL,
    "order" integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.evaluations_internshipquestion OWNER TO postgres;

--
-- Name: evaluations_internshipquestion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.evaluations_internshipquestion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.evaluations_internshipquestion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: evaluations_internshipsurvey; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluations_internshipsurvey (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    group_id bigint NOT NULL
);


ALTER TABLE public.evaluations_internshipsurvey OWNER TO postgres;

--
-- Name: evaluations_internshipsurvey_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.evaluations_internshipsurvey ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.evaluations_internshipsurvey_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: evaluations_professor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluations_professor (
    id bigint NOT NULL,
    full_name character varying(200) NOT NULL,
    email character varying(254),
    school_id bigint NOT NULL
);


ALTER TABLE public.evaluations_professor OWNER TO postgres;

--
-- Name: evaluations_professor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.evaluations_professor ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.evaluations_professor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: evaluations_question; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluations_question (
    id bigint NOT NULL,
    text_en text NOT NULL,
    text_uz text NOT NULL,
    text_ru text NOT NULL,
    question_type character varying(10) NOT NULL,
    "order" integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.evaluations_question OWNER TO postgres;

--
-- Name: evaluations_question_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.evaluations_question ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.evaluations_question_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: evaluations_school; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluations_school (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    code character varying(50) NOT NULL,
    description text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.evaluations_school OWNER TO postgres;

--
-- Name: evaluations_school_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.evaluations_school ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.evaluations_school_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: evaluations_survey; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.evaluations_survey (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    group_id bigint NOT NULL,
    professor_id bigint NOT NULL
);


ALTER TABLE public.evaluations_survey OWNER TO postgres;

--
-- Name: evaluations_survey_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.evaluations_survey ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.evaluations_survey_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$600000$Xewt2SP4EN3nQiblbkEa2X$qukUlJRpXbsOs8FfzTk+RFx4WLUTdW3zMTbTaqHJud8=	2025-11-28 03:22:53.54031+00	t	yalgashev			yalgashev@example.com	t	t	2025-11-28 03:22:37.177978+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	evaluations	group
8	evaluations	groupprofessor
9	evaluations	professor
10	evaluations	survey
11	evaluations	department
12	evaluations	school
13	evaluations	question
14	evaluations	answer
15	evaluations	internshipquestion
16	evaluations	internshipsurvey
17	evaluations	internshipanswer
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
uhhdllfsijbxgt1bdrjxaj2ij3t4jqjg	.eJxVj80OgjAQhN-FsyGU2i149O4zNEu7BZS0pKVGY3x3iyH-HHfm29nZR6EwLYNKkYIaTXEoWLH71TrUF3KrYc7oel9q75YwduWKlJsby5M3NB039i9gwDissVwzXbEaUGJj9iABOAiDneQSJcjW8I5VRgMTVgDlUbQcobGCUFuyOTSmcKW76oNP87srqz_ilLsl7ClfIvdl5-Atxejzb87QLa88X9pEUaY:1vQ1cf:ct-V1DXzaATXxOaD-7oK2DDiWOza58ld_vw8EXRXRmo	2025-12-15 10:59:13.733887+00
\.


--
-- Data for Name: evaluations_answer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.evaluations_answer (id, rating_value, text_value, created_at, question_id, survey_id) FROM stdin;
\.


--
-- Data for Name: evaluations_department; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: evaluations_group; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: evaluations_groupprofessor; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: evaluations_internshipanswer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.evaluations_internshipanswer (id, rating_value, text_value, created_at, internship_survey_id, question_id) FROM stdin;
\.


--
-- Data for Name: evaluations_internshipquestion; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: evaluations_internshipsurvey; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.evaluations_internshipsurvey (id, created_at, group_id) FROM stdin;
\.


--
-- Data for Name: evaluations_professor; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: evaluations_question; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: evaluations_school; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: evaluations_survey; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.evaluations_survey (id, created_at, group_id, professor_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 68, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 17, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 25, true);


--
-- Name: evaluations_answer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.evaluations_answer_id_seq', 1, false);


--
-- Name: evaluations_department_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.evaluations_department_id_seq', 31, true);


--
-- Name: evaluations_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.evaluations_group_id_seq', 33, true);


--
-- Name: evaluations_groupprofessor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.evaluations_groupprofessor_id_seq', 212, true);


--
-- Name: evaluations_internshipanswer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.evaluations_internshipanswer_id_seq', 1, false);


--
-- Name: evaluations_internshipquestion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.evaluations_internshipquestion_id_seq', 6, true);


--
-- Name: evaluations_internshipsurvey_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.evaluations_internshipsurvey_id_seq', 1, false);


--
-- Name: evaluations_professor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.evaluations_professor_id_seq', 69, true);


--
-- Name: evaluations_question_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.evaluations_question_id_seq', 21, true);


--
-- Name: evaluations_school_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.evaluations_school_id_seq', 12, true);


--
-- Name: evaluations_survey_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.evaluations_survey_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: evaluations_answer evaluations_answer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_answer
    ADD CONSTRAINT evaluations_answer_pkey PRIMARY KEY (id);


--
-- Name: evaluations_answer evaluations_answer_survey_id_question_id_2c3a6ff9_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_answer
    ADD CONSTRAINT evaluations_answer_survey_id_question_id_2c3a6ff9_uniq UNIQUE (survey_id, question_id);


--
-- Name: evaluations_department evaluations_department_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_department
    ADD CONSTRAINT evaluations_department_pkey PRIMARY KEY (id);


--
-- Name: evaluations_department evaluations_department_school_id_code_7f950178_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_department
    ADD CONSTRAINT evaluations_department_school_id_code_7f950178_uniq UNIQUE (school_id, code);


--
-- Name: evaluations_department evaluations_department_school_id_name_4ec008bd_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_department
    ADD CONSTRAINT evaluations_department_school_id_name_4ec008bd_uniq UNIQUE (school_id, name);


--
-- Name: evaluations_group evaluations_group_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_group
    ADD CONSTRAINT evaluations_group_group_name_key UNIQUE (group_name);


--
-- Name: evaluations_group evaluations_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_group
    ADD CONSTRAINT evaluations_group_pkey PRIMARY KEY (id);


--
-- Name: evaluations_groupprofessor evaluations_groupprofessor_group_id_professor_id_4072bb7e_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_groupprofessor
    ADD CONSTRAINT evaluations_groupprofessor_group_id_professor_id_4072bb7e_uniq UNIQUE (group_id, professor_id);


--
-- Name: evaluations_groupprofessor evaluations_groupprofessor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_groupprofessor
    ADD CONSTRAINT evaluations_groupprofessor_pkey PRIMARY KEY (id);


--
-- Name: evaluations_internshipanswer evaluations_internshipan_internship_survey_id_que_09713632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_internshipanswer
    ADD CONSTRAINT evaluations_internshipan_internship_survey_id_que_09713632_uniq UNIQUE (internship_survey_id, question_id);


--
-- Name: evaluations_internshipanswer evaluations_internshipanswer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_internshipanswer
    ADD CONSTRAINT evaluations_internshipanswer_pkey PRIMARY KEY (id);


--
-- Name: evaluations_internshipquestion evaluations_internshipquestion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_internshipquestion
    ADD CONSTRAINT evaluations_internshipquestion_pkey PRIMARY KEY (id);


--
-- Name: evaluations_internshipsurvey evaluations_internshipsurvey_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_internshipsurvey
    ADD CONSTRAINT evaluations_internshipsurvey_pkey PRIMARY KEY (id);


--
-- Name: evaluations_professor evaluations_professor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_professor
    ADD CONSTRAINT evaluations_professor_pkey PRIMARY KEY (id);


--
-- Name: evaluations_question evaluations_question_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_question
    ADD CONSTRAINT evaluations_question_pkey PRIMARY KEY (id);


--
-- Name: evaluations_school evaluations_school_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_school
    ADD CONSTRAINT evaluations_school_code_key UNIQUE (code);


--
-- Name: evaluations_school evaluations_school_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_school
    ADD CONSTRAINT evaluations_school_name_key UNIQUE (name);


--
-- Name: evaluations_school evaluations_school_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_school
    ADD CONSTRAINT evaluations_school_pkey PRIMARY KEY (id);


--
-- Name: evaluations_survey evaluations_survey_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_survey
    ADD CONSTRAINT evaluations_survey_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: evaluations_answer_question_id_263cf922; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_answer_question_id_263cf922 ON public.evaluations_answer USING btree (question_id);


--
-- Name: evaluations_answer_survey_id_6d066f08; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_answer_survey_id_6d066f08 ON public.evaluations_answer USING btree (survey_id);


--
-- Name: evaluations_department_school_id_1cad67b5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_department_school_id_1cad67b5 ON public.evaluations_department USING btree (school_id);


--
-- Name: evaluations_group_department_id_81862f9d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_group_department_id_81862f9d ON public.evaluations_group USING btree (department_id);


--
-- Name: evaluations_group_group_name_c6e9ac7b_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_group_group_name_c6e9ac7b_like ON public.evaluations_group USING btree (group_name varchar_pattern_ops);


--
-- Name: evaluations_groupprofessor_group_id_441a9e5b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_groupprofessor_group_id_441a9e5b ON public.evaluations_groupprofessor USING btree (group_id);


--
-- Name: evaluations_groupprofessor_professor_id_faed3983; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_groupprofessor_professor_id_faed3983 ON public.evaluations_groupprofessor USING btree (professor_id);


--
-- Name: evaluations_internshipanswer_internship_survey_id_3b32a099; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_internshipanswer_internship_survey_id_3b32a099 ON public.evaluations_internshipanswer USING btree (internship_survey_id);


--
-- Name: evaluations_internshipanswer_question_id_0fba8657; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_internshipanswer_question_id_0fba8657 ON public.evaluations_internshipanswer USING btree (question_id);


--
-- Name: evaluations_internshipsurvey_group_id_ab8f16d6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_internshipsurvey_group_id_ab8f16d6 ON public.evaluations_internshipsurvey USING btree (group_id);


--
-- Name: evaluations_professor_school_id_2f1c6285; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_professor_school_id_2f1c6285 ON public.evaluations_professor USING btree (school_id);


--
-- Name: evaluations_school_code_ead48eed_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_school_code_ead48eed_like ON public.evaluations_school USING btree (code varchar_pattern_ops);


--
-- Name: evaluations_school_name_9c6d7c36_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_school_name_9c6d7c36_like ON public.evaluations_school USING btree (name varchar_pattern_ops);


--
-- Name: evaluations_survey_group_id_440afe8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_survey_group_id_440afe8b ON public.evaluations_survey USING btree (group_id);


--
-- Name: evaluations_survey_professor_id_1b1e06b7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX evaluations_survey_professor_id_1b1e06b7 ON public.evaluations_survey USING btree (professor_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_answer evaluations_answer_question_id_263cf922_fk_evaluatio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_answer
    ADD CONSTRAINT evaluations_answer_question_id_263cf922_fk_evaluatio FOREIGN KEY (question_id) REFERENCES public.evaluations_question(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_answer evaluations_answer_survey_id_6d066f08_fk_evaluations_survey_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_answer
    ADD CONSTRAINT evaluations_answer_survey_id_6d066f08_fk_evaluations_survey_id FOREIGN KEY (survey_id) REFERENCES public.evaluations_survey(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_department evaluations_departme_school_id_1cad67b5_fk_evaluatio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_department
    ADD CONSTRAINT evaluations_departme_school_id_1cad67b5_fk_evaluatio FOREIGN KEY (school_id) REFERENCES public.evaluations_school(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_group evaluations_group_department_id_81862f9d_fk_evaluatio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_group
    ADD CONSTRAINT evaluations_group_department_id_81862f9d_fk_evaluatio FOREIGN KEY (department_id) REFERENCES public.evaluations_department(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_groupprofessor evaluations_grouppro_group_id_441a9e5b_fk_evaluatio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_groupprofessor
    ADD CONSTRAINT evaluations_grouppro_group_id_441a9e5b_fk_evaluatio FOREIGN KEY (group_id) REFERENCES public.evaluations_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_groupprofessor evaluations_grouppro_professor_id_faed3983_fk_evaluatio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_groupprofessor
    ADD CONSTRAINT evaluations_grouppro_professor_id_faed3983_fk_evaluatio FOREIGN KEY (professor_id) REFERENCES public.evaluations_professor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_internshipsurvey evaluations_internsh_group_id_ab8f16d6_fk_evaluatio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_internshipsurvey
    ADD CONSTRAINT evaluations_internsh_group_id_ab8f16d6_fk_evaluatio FOREIGN KEY (group_id) REFERENCES public.evaluations_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_internshipanswer evaluations_internsh_internship_survey_id_3b32a099_fk_evaluatio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_internshipanswer
    ADD CONSTRAINT evaluations_internsh_internship_survey_id_3b32a099_fk_evaluatio FOREIGN KEY (internship_survey_id) REFERENCES public.evaluations_internshipsurvey(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_internshipanswer evaluations_internsh_question_id_0fba8657_fk_evaluatio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_internshipanswer
    ADD CONSTRAINT evaluations_internsh_question_id_0fba8657_fk_evaluatio FOREIGN KEY (question_id) REFERENCES public.evaluations_internshipquestion(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_professor evaluations_professo_school_id_2f1c6285_fk_evaluatio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_professor
    ADD CONSTRAINT evaluations_professo_school_id_2f1c6285_fk_evaluatio FOREIGN KEY (school_id) REFERENCES public.evaluations_school(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_survey evaluations_survey_group_id_440afe8b_fk_evaluations_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_survey
    ADD CONSTRAINT evaluations_survey_group_id_440afe8b_fk_evaluations_group_id FOREIGN KEY (group_id) REFERENCES public.evaluations_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: evaluations_survey evaluations_survey_professor_id_1b1e06b7_fk_evaluatio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.evaluations_survey
    ADD CONSTRAINT evaluations_survey_professor_id_1b1e06b7_fk_evaluatio FOREIGN KEY (professor_id) REFERENCES public.evaluations_professor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict RW3HYRDOeEzOywXkM9pnLsYaCeFMBbepw1wmelGebcCUHkkOPV9xAeyAPv4RzkE

